* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PFBeauSansPro-Reg\ 2';
  color: var(--gray-color-1);
}

:root {
  --gray-color-1: #36393C;
  --gray-color-2: #F2F3F4;
  --gray-color-3: #BDBEC1;
  --primary-color: #49B748;
  --red-1: #EE1F59;
  --white: #fff;
  font-size: 16px;
}

@font-face {
    font-family: 'PFBeauSansPro-SeBoldItal';
    src: url('../fonts/PFBeauSansPro-LightItal.ttfs');
}
@font-face {
    font-family: 'PFBeauSansPro SemiBold';
    src: url('../fonts/PFBeauSansPro\ SemiBold.TTF');
}
@font-face {
    font-family: 'PFBeauSansPro-Bold';
    src: url('../fonts/PFBeauSansPro-Bold.ttf');
}
@font-face {
    font-family: 'PFBeauSansPro-Light';
    src: url('../fonts/PFBeauSansPro-Light.otf');
}
@font-face {
    font-family: 'PFBeauSansPro-Reg\ 2';
    src: url('../fonts/PFBeauSansPro-Reg\ 2.otf');
}
@font-face {
    font-family: 'PFBeauSansPro-SeBoldItal';
    src: url('../fonts/PFBeauSansPro-SeBoldItal.ttf');
}

ul {
  list-style: none;
}

p {
  font-size: 0.8rem;
}

span {
  font-size: 0.8rem;
}

/* Primera página */
.advice-page {
  position: relative;
}

.header_hero {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: var(--gray-color-1);
  line-height: normal;
}

.header_hero-title {
  padding: 0.25rem 2rem 0.25rem;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  align-items: center;
  width: 45%;
  background-color: var(--gray-color-2);
  border-radius: 0 0.5rem 0.5rem 0;
}

.header_hero-title span {
  font-size: 2rem;
}

.header_hero-title__name {
  color: var(--primary-color);
}

.header_hero-img {
  margin-right: 3rem;
}

.header_hero-img__img {
  padding: 0.5rem;
  height: 60px;
}

.main__container {
  margin: 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.water-mark, .water-mark-2 {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.water-mark-page, .water-mark-page-2, .water-mark-page-3 {
  position: absolute;
  bottom: 0rem;
  right: 3.5rem;
}

/* Primera sección */
.extract_container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.detail-product-container {
  display: flex;
  flex-direction: column;
}

.extract_container_child1, .extract_container_child2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 45%;
}

.extract_container_child1 h3, .extract_container_child2 h3, 
.resume-product-container h3, .detail-product-container h3,
.pay-advice-container h3 {
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'PFBeauSansPro-Bold';
}

.extract_container_child1 h3 {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--white);
}

.extract_container_child2 h3, .resume-product-container h3, 
.detail-product-container h3, .pay-advice-container h3 {
  background-color: var(--gray-color-2);
  border-radius: 0.5rem;
  color: var(--gray-color-1);
}

.extract_container_cld1, .extract_container_cld2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5rem;
  gap: 1rem;
}

.extract_container_cld1 {
  color: var(--gray-color-1);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 0.75rem;
}

.extract_container_cld1 div {
  color: var(--gray-color-1);
  display: flex;
  justify-content: space-between;
}

.extract_container_cld1 div span {
  display: flex;
  color: var(--gray-color-1);
  font-weight: 500;
}

.extract_container_cld2_info {
  display: flex;
  flex-direction: column;
  font-weight: 0.9rem;
  font-weight: 600;
  gap: 0.25rem;
}

.extract_container_cld2_info p {
  color: var(--gray-color-1);
}

.extract_container_cld2_info span {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.extract_container_cld2_info h4 {
  padding: 0.3rem 1.5rem 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--red-1);
  color: var(--white);
  font-weight: 600;
  font-size: 0.85rem;
  width: 100%;
}

.advice_container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color-2);
  padding: 1rem;
  border-radius: 1.5rem;
  gap: 0.25rem;
  color: var(--gray-color-1);
}

.advice_child1 {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.advice_cld1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advice_cld1 h2 {
  color: var(--red-1);
  margin-bottom: 0.5rem;
}

.advice_cld1 span {
  font-weight: 600;
}

.advice_cld1 p {
  margin: 0.5rem 0 0.5rem;
}

.advice_cld2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.advice_cld2 img {
  width: 125px;
}

.advice_child3 a {
  font-weight: 600;
  color: var(--gray-color-1);
  text-decoration: none;
}

.advice_child3 div {
  margin-top: 2rem;
  font-size: 0.97rem;
}

.advice_child3 div span {
  font-weight: 600;
  font-style: italic;
}

.bottom-section, .detail-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.bottom-section-child1, .bottom-section-child2, .detail-banner-green, 
.detail-banner-outline-green {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.7rem;
  font-weight: 600;
}

.detail-banner-green h4, .detail-banner-green p {
  color: var(--white);
}

.bottom-section-child1, .bottom-section-child2 {
  padding: 0.7rem 2rem 0.7rem;
}

.bottom-section-child1 h4, .bottom-section-child2 h4, 
.detail-banner-green h4,.detail-banner-outline-green h4 {
  font-size: 1.5rem;
}

.bottom-section-child1 {
  background-color: var(--red-1);
}

.bottom-section-child1 p, .bottom-section-child1 h4 {
  color: var(--white);
}

.bottom-section-child2 {
  border: 2px solid var(--red-1);
  color: var(--gray-color-1);
}

/* Segunda página */
.resume-page {
  position: relative;
  padding: 0 3rem 0;
}

.header_resume {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 0 1.5rem;
}

.header_resume_img img {
  padding: 0.5rem;
  height: 60px;
}

.resume-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem
}

.resume-product, .pay-advice-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0.5%;
  gap: 2rem;
}

.resume-product-container{
  display: flex;
  flex-direction: column;
}

.resume-product-container span {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 0.5rem;
  font-weight: 400;
  color: var(--gray-color-1);
}

.resume-banner-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
  font-weight: 600;
}

.product-list, .detail-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.product-list-item, .product-list-item-bold, 
.detail-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color-1);
  padding: 0 0.5rem 0;
}

.product-list-item-bold p, .detail-list-item p, 
.detail-list-item-subitem1 p, .bold-value span {
  font-weight: 600;
  font-family: 'PFBeauSansPro-Bold';
}

.product-list-item ::before {
  content: "- ";
}

.resume-paragraph{
  opacity: 0.7;
  font-style: italic;
  margin-top: 0.5rem;
}

.detail-list-item-ul {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0;
}

.detail-list-item-subitem1, .detail-list-item-subitem2 {
  display: flex;
  justify-content: space-between;
}

.detail-list-item, .detail-list-item-ul, .detail-list-item-subitem1,
.detail-list-item-subitem2 {
  margin-top: 0.5rem;
}

.detail-list-item-subitem2 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1rem;
}

.detail-banner {
  margin: 1.5rem 0 1.5rem;
}

.detail-banner-green{
  background-color: var(--primary-color);
  color: var(--white);
}

.detail-banner-outline-green {
  border: 2px solid var(--primary-color);
  color: var(--gray-color-1);
}

.detail-banner-green, 
.detail-banner-outline-green {
  padding: 0.5rem 1rem 0.5rem;
}

.resume-product-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem;
  gap: 1.3rem
}

.resume-product-info-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.resume-product-info-item img {
  width: 38px;
}

.resume-product-info-item p {
  line-height: 1rem;
}

.resume-product-info-item p span {
  font-weight: 600;
  font-family: 'PFBeauSansPro-Bold';
}

.resume-product-info-item-link {
  font-weight: 600;
  line-height: 1rem;
  font-family: 'PFBeauSansPro-Bold';
}

.resume-product-info-item-link a span {
  font-weight: 500;
  font-family: 'resume-product-info-item-link';
}

.resume-product-info-item-link a {
  cursor: pointer;
}

.details-bill-page {
  padding: 0 3rem 0;
  margin-bottom: 2rem;
}

.details-bill-page-container {
  display: flex;
  column-gap: 3rem;
}

.details-bill-container, .details-bill-container2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 0.5%;
  row-gap: 2rem;
}

.details-bill-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem;
  background-color: var(--gray-color-2);
  border-radius: 0.5rem;
}

.bill-details-table-text {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: end;
}

.minus-text {
  font-size: 0.7rem
}

.details-bill-container2 div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--white);
}

.details-bill-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.details-bill-cld {
  display: flex;
  justify-content: space-between;
}

.details-bill-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--primary-color);
  padding-top: 1.5rem;
  font-weight: 600;
}

.details-bill-bottom h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.details-bill-cld2 {
  background-color: var(--gray-color-2);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.details-bill-cld2 img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.details-bill-card-container2 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.details-bill-card2 {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
}

.details-bill-card2 h4 {
  color: var(--primary-color);
  font-size: 2rem;
}

.details-bill-tip {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1.5rem;
  border: 2px solid var(--gray-color-2);
  border-radius: 1rem;
}

.details-bill-tip img {
  width: 6rem;
  height: 4rem;
  object-fit: contain;
}

.bill-page, .details-bill-page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem 0;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.details-bill-page-content {
  align-self: flex-end;
  flex-direction: row;
}

.bill-page h3, .toknow-bill-page h3, .details-bill-page h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem;
  background-color: var(--gray-color-2);
  border-radius: 0.5rem;
}

.bill-list-details {
  display: flex;
  column-gap: 2rem;
}

.bill-list-details__child {
  display: flex;
  column-gap: 0.5rem;
}

.bill-list-details__child h5 {
  font-weight: 600;
  font-size: 1rem;
}

.bill-details-table {
  display: flex;
  flex-direction: column;
}

.bill-details-table-row {
  display: grid;
  width: 100%;
  padding: 0.7rem 0.25rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 2fr repeat(6, 1fr);
}

.bill-details-table-row__head {
  font-weight: 600;
  background-color: var(--gray-color-2);
}


.bill-details-table-row_cld:nth-child(2n), .bill-details-table_page-successfull:nth-child(2n) {
  background-color: var(--gray-color-2);
}

.bill-details-table-row_cld h5 {
  font-weight: 600;
  font-size: 0.85rem;
}

.bill-details-table-row_cld span {
  font-weight: 600;
  font-size: 0.5rem;
  align-self: end;
  text-align: center;
}

.bill-details-footer-advice, .details-bill-footer-advice {
  padding: 1rem 0 1rem;
  padding-right: 3rem;
  font-size: 0.6rem;
}

.details-bill-footer-advice {
  padding: 0rem 0 0.5rem;
}

.bill-details-table_page-successfull h5 {
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--primary-color);
}

.toknow-bill-page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem 0;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}

.toknow-bill-page-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.75;
}

.toknow-bill-page-child {
  display: flex;
  flex-direction: column;
  flex: 1 1 0.5%;
  row-gap: 2rem;
}

.toknow-bill-page-cld {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toknow-bill-page-cld h4 {
  color: var(--primary-color);
}

.toknow-bill-page-card {
  display: flex;
  column-gap: 1rem;
}

.toknow-bill-page-card img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.toknow-bill-page-lists {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.75rem;
  counter-reset: section;
}

.toknow-bill-page-lists li {
  list-style-type: none;
  display: flex;
  column-gap: 0.5rem;
  counter-increment: section;
  position: relative;
}

.toknow-bill-page-lists li::before {
  content: counter(section) ". ";
  color: var(--primary-color);
  display: block;
  font-weight: 600;
}

/* Todo */
.termns-contact-page {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.termns-contact-child1, .termns-contact-child2 {
  flex: 1 1 0.5%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--gray-color-2);
  border-radius: 0.75rem;
}
.termns-contact-child1 h3, .termns-contact-child2 h3 {
  padding: 0;
  background-color: transparent;
  text-align: start;
  display: block;
  color: var(--primary-color);
}

.terms-contact-container1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.terms-contact-cld1 {
  display: flex;
  column-gap: 1rem;
}

.terms-contact-cld1 img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.terms-contact-content1 {
  border-left: 2px solid var(--primary-color);
  padding: 0.75rem;
}

.terms-contact-content1 h4 {
  font-size: 0.9rem;
}

.terms-contact-content1 span, .terms-contact-content1 p {
  font-size: 0.8rem;
}

.terms-contact-content1 span {
  font-weight: 600;
}

.terms-contact-container2 {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.terms-contact-child2 {
  flex: 1 1 0.5%;
}

.terms-contact-child2 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.advice-child2 {
  display: grid;
  grid-template-columns: 1fr repeat(6, 2fr);
  grid-template-rows: 1fr 1rem repeat(2, 2fr);
}

.child2-item-start, .child2-item-center {
  display: flex;
  align-items: center;
}

.child2-item-center {
  justify-content: center;
  text-align: center;
  border-left: 1px dashed var(--gray-color-1);
  padding: 0 1rem 0;
}

.child2-item p, .child2-item-start p, 
.child2-item-center p, .child2-item-start p {
  font-weight: 800;
}

.child2-item-center p span{
  font-weight: 500;
}

.bold {
  font-weight: 800;
}

.child2-item-line {
  border-left: 1px dashed #000;
  background-color: var(--red-1);
}

.child2-item-line-gray{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-left: 0px;
  background-color: var(--gray-color-3);
}

.line {
  border-right: 1px solid #000;
}


.red {
  border: 1px solid red;
}

.combine-cell {
  display: grid;
  grid-column: 2 / 8;
  grid-row: 4/ 4;
  grid-template-columns: repeat(5, 1fr);
  justify-items: end;
  padding-right: 4rem;
  padding-left: 3rem;
  text-align: center;
  gap: 0.75rem;
}

.child2-item-cell {
  display: flex;
  flex-direction: column;
  padding: 0rem  0.25rem;
  row-gap: 0.25rem;
}

.child2-item-cell p {
  font-size: 0.7rem;
}

.child2-item-cell h5 {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem;
}

.child2-item-cell-title-gray {
  background-color: var(--gray-color-3);
  color: var(--gray-color-1);
}

.child2-item-cell-title-red {
  background-color: var(--red-1);
  color: var(--white);
}


@media print {
  main {
    min-height: 100vh;
  }

  .water-mark {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
  }

  .water-mark-2 {
    position: absolute;
    bottom: 8em;
    left: 1rem;
  }

  .water-mark-page {
    position: absolute;
    bottom: 4rem;
    right: 3.5rem;
  } 

  .water-mark-page-2 {
    position: absolute;
    bottom: 6rem;
    right: 3.5rem;
  } 
  .water-mark-page-3 {
    position: absolute;
    bottom: 7.5rem;
    right: 3.5rem;
  } 

  .termns-contact-page {
    margin-bottom: 0;
  }
}